{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}"/>
    <title>11А | {% block 'title' %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalise.css' %}">
</head>
<body>
{% block 'body' %}
{% endblock %}
<script src="{% static 'js/std.js' %}"></script>
</body>
</html>

